@import "variables";

$header-height: 3.75rem;

html {
}

body {
  padding: 0;
  margin: 0;
}

html, body, #app, #app > .el-container {
  height: 100%;
  width: 100%;
}

#app {
  #header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    height: $header-height !important;
    &, * {
      background-color: $bg-header-color;
    }
  }

  #container {
    height: 100%;
    padding-top: $header-height;

    #sidebar {
      &:not(.sidebarCollapse) {
        width: 220px !important;
      }
    }

    #main {
      padding: 0;
      .vip-breadcrumb {
        width: 100%;
        padding: 0 20px;
        line-height: 40px;
        border-bottom: 1px solid #d8dce5;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 0 3px 0 rgba(0,0,0,.04);
      }
      .content {
        padding: 20px;
      }
    }
  }
}

/** filter **/

/** table **/
.data-table {
  .pagination {
    padding-top: 1rem;
    text-align: right;
    .el-pagination__sizes {
      margin: 0;
    }
  }
}
